main section {
  position: absolute;
  right: 0;
  padding: 10%;
  margin-right: 5%;
}

main h1 {
  font-size: 35px;
}

form {
  display: flex;
  flex-direction: column;
}

form label,
form input,
form textarea,
form input[type="submit"] {
  margin: 10px 0;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.horizontal-line {
  border-top: 3px solid black;
  width: 100%;
  margin-top: 0.5in;
}

aside {
  position: absolute;
  left: 0;
  margin-top: 10%;
  margin-left: 6%;
}